DayX.xcodeproj/project.xcworkspace/xcuserdata/calebhicks.xcuserdatad/WorkspaceSettings.xcsettings
DayX.xcodeproj/xcuserdata/calebhicks.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
DayX.xcodeproj/xcuserdata/calebhicks.xcuserdatad/xcschemes/DayX.xcscheme
DayX.xcodeproj/xcuserdata/calebhicks.xcuserdatad/xcschemes/xcschememanagement.plist
